torch>=2.0.0
torchvision
transformers
diffusers
matplotlib
omegaconf
ujson
pandas
timm
open_clip_torch
einops
scipy
pillow
accelerate
gdown
huggingface-hub
einops
wandb
torch-fidelity
torchinfo
webdataset
fire
clean-fid